<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
  <div class="text-danger">
    UserName:
  </div>
  <div class="alert alert-info">
    <%= f.text_field :name %>
  </div>
  <div class="text-danger">
    E-mail: 
  </div>
  <div class="alert alert-info">
  <%= f.text_field :email %>
  </div>
  <div class="text-danger">
   Password: 
   </div>
  <div class="alert alert-info">
  <%= f.password_field :password %>
  </div>
  <div class="text-danger">
    Password Confirmation:
    </div>
  <div class="alert alert-info">
   <%= f.password_field :password_confirmation %>
  </div>
  <div class="text-danger">
    <%= f.submit "Submit" %>
  </div>
<% end %>