<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>

  <main class="container">
    <% if active_sale? %>
      <p class="alert alert-info">
        There's am active <%= active_sale_name %> sale going on!
        <strong> Everthing is <%= active_sale_percent_off %>% off!</strong>
      </p>
    <% end %>
    <%= yield %>
  </main>

  <%= yield :end_of_body %>
</body>
</html>
